<h1>{{ userName }}'s To-Do List</h1>
<ul>
  <li *ngFor="let item of toDoItems$ | async">
    <span>{{item.id + '-' + item.content}}</span>
    <span [ngSwitch]="item.status">
      <span *ngSwitchCase="0">New</span>
      <span *ngSwitchCase="1">In Progress</span>
      <span *ngSwitchCase="2">Done</span>
    </span>
    <span [ngSwitch]="item.status">
      <button *ngSwitchCase="0" (click)="changeStatus(item.id, 1)">Start</button>
      <button *ngSwitchCase="1" (click)="changeStatus(item.id, 2)">Done</button>
      <button *ngSwitchCase="2" (click)="changeStatus(item.id, 0)">Redo</button>
      <button *ngSwitchCase="2" (click)="deleteItem(item.id)">Delete</button>
    </span>
  </li>
</ul>