<mat-tab-group>
  <mat-tab label="All">
    <app-table [toDoItems]="allToDoItems$ | async" (deleteItem)="deleteItem($event)" (changeStatus)="changeStatus($event)"></app-table>
  </mat-tab>
  <mat-tab label="New">
    <app-table [toDoItems]="newToDoItems$ | async" (deleteItem)="deleteItem($event)" (changeStatus)="changeStatus($event)"></app-table>
  </mat-tab>
  <mat-tab label="Done">
    <app-table [toDoItems]="doneToDoItems$ | async" (deleteItem)="deleteItem($event)" (changeStatus)="changeStatus($event)"></app-table>
  </mat-tab>
</mat-tab-group>